*{
    padding: 0;
    margin: 0;
}

.btn-primary{
    background-color: green;
    border-color: green;
    margin-left: 13rem;
}

.btn-primary:hover{
    background-color: black;
    border-color: black;
}
